# OIDC Credentials
# Google
GOOGLE_CLIENT_ID=Id_from_your_google_client
GOOGLE_CLIENT_SECRET=Secret_from_your_google_client

# 42 Intra
FT_CLIENT_ID=Id_from_42_intra
FT_CLIENT_SECRET=Secret_from_42_intra

# JWT
ACCESS_EXPIRY=600
REFRESH_EXPIRY=86400

# Security
SECURE_COOKIES=false
MAX_SESSIONS_PER_USER=5
AUTH_PASSWORD_ARGON2_ITERATIONS=Number of passes(iterations) done by the algorithm over the memory
AUTH_PASSWORD_ARGON2_MEMORY_KB=Amount of RAM to use, e.g. 65536
AUTH_PASSWORD_ARGON2_PARALLELISM=Number of threads used, e.g. 1

# Seeding
# There are 4 modes: OFF, FILE, CAMPUS, LOGINS
# OFF will deactivate Seeding
# FILE will use a seed file
# CAMPUS will call the 42 api to seed the db, with your chosen campus(es)
# LOGINS will do the same as CAMPUS, but will seed with chosen logins instead
SEED_MODE=OFF
SEED_LOGINS=Your chosen login(s) e.g. jothomas,bum,definatelyRealPerson
SEED_CAMPUS=Your chosen campus(es) e.g. Paris,KL
# SEED_ADMIN creates an initial admin user if enabled
# Must include email and password; login is optional
SEED_ADMIN_ENABLED=false
SEED_ADMIN_EMAIL=admin@gmail.com
SEED_ADMIN_PASSWORD=admin_pass
SEED_ADMIN_LOGIN=admin
