# OIDC Credentials
# Google
GOOGLE_CLIENT_ID=Id_from_your_google_client
GOOGLE_CLIENT_SECRET=Secret_from_your_google_client

# 42 Intra
FT_CLIENT_ID=Id_from_42_intra
FT_CLIENT_SECRET=Secret_from_42_intra

# JWT
ACCESS_EXPIRY=600
REFRESH_EXPIRY=86400

# Security
SECURE_COOKIES=true
MAX_SESSIONS_PER_USER=5

# Avatar Management
AVATAR_MAX_BYTES=1048576

# Seeding
# There are 4 modes: OFF, FILE, CAMPUS, LOGINS
# OFF will deactivate Seeding
# FILE will use a seed file
# CAMPUS will call the 42 api to seed the db, with your chosen campus(es)
# LOGINS will do the same as CAMPUS, but will seed with chosen logins instead
# SEED_LIMIT will cap the number of users seeded
SEED_MODE=FILE
SEED_LIMIT=200
SEED_LOGINS=Your chosen login(s) e.g. jothomas,bum,definatelyRealPerson
SEED_CAMPUS=Your chosen campus(es) e.g. Paris,KL
# SEED_ADMIN creates an initial admin user if enabled
# Must include email and password; login is optional
SEED_ADMIN_ENABLED=false
SEED_ADMIN_EMAIL=Admin email
SEED_ADMIN_PASSWORD=Admin pass
SEED_ADMIN_LOGIN=Admin login

SEED_TEST=true
SEED_TEST_PASS=passcode for seeded users
