# Using hardcopy since Windows doesn't support symlinks in Docker volumes
UV_LINK_MODE=copy

# seeding mode flag, ensure projects file exists before using
SEED_PROJECTS=true
# path for projects file (scraped from 42 api)
SEED_PROJECTS_FILE=data/response.json

DATABASE_URL=postgresql+psycopg://dev_user:dev_password@db-service:5432/postgres_db