# Using hardcopy since Windows doesn't support symlinks in Docker volumes
UV_LINK_MODE=copy
SEED_PROJECTS=true
SEED_PROJECTS_FILE=data/response.json
DATABASE_URL=postgresql+psycopg://<DB_USER>:<DB_PASSWORD>@db-service:5432/postgres_db