# Environment variables for the API service
AUTH_SERVICE_URL=https://auth-service:8443
DEV_AUTH_SERVICE_URL=http://auth-service:8080

CHAT_SERVICE_URL=https://chat-service:8443
DEV_CHAT_SERVICE_URL=http://chat-service:8080

FORUM_SERVICE_URL=https://forum-service:8443
DEV_FORUM_SERVICE_URL=http://forum-service:8080

WEB_SERVICE_URL=https://web-service:3000
DEV_WEB_SERVICE_URL=http://web-service:3000

GW_REDIS_URL=redis://gw-redis-service:6379

PROMETHEUS_SERVICE_URL=https://prometheus-service:9090
DEV_PROMETHEUS_SERVICE_URL=http://prometheus-service:9090

GRAFANA_SERVICE_URL=https://grafana-service:3000
DEV_GRAFANA_SERVICE_URL=http://grafana-service:3000

