# Domain Name
DOMAIN_NAME=localhost
PUBLIC_PORT=8002

# OIDC Credentials
# Google
GOOGLE_CLIENT_ID=Id_from_your_google_client
GOOGLE_CLIENT_SECRET=Secret_from_your_google_client

# 42 Intra
FT_CLIENT_ID=Id_from_42_intra
FT_CLIENT_SECRET=Secret_from_42_intra

# Database
DB_USER=dev_user
DB_PASSWORD=dev_password

# JWT
ACCESS_EXPIRY=600
REFRESH_EXPIRY=86400

# Security
SECURE_COOKIES=false
MAX_SESSIONS_PER_USER=5

QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://db:5432/postgres_db
DB_PORT=5432
AUTH_PORT=8002
CHAT_PORT=8003
FORUM_PORT=8000
WEB_PORT=3000

DB_USER=dev_user
DB_PASSWORD=dev_password
DB_HOST=postgres_db
DB_DATABASE=postgres_db
