DOMAIN_NAME=localhost

QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://db-service:5432/postgres_db
DB_PORT=5432
GATEWAY_PORT=8001
GATEWAY_MGMT_PORT=8200
AUTH_PORT=8002
CHAT_PORT=8003
FORUM_PORT=8004
WEB_PORT=3000

DB_USER=dev_user
DB_PASSWORD=dev_password

DB_HOST=postgres_db
DB_DATABASE=postgres_db