# Browser-accessible (Client Side)
NEXT_PUBLIC_AUTH_URL=http://localhost:${AUTH_PORT}
NEXT_PUBLIC_CHAT_URL=http://localhost:${CHAT_PORT}
NEXT_PUBLIC_FORUM_URL=http://localhost:${FORUM_PORT}

# Container-accessible (Server Side / SSR)
# We use the internal service names and internal ports here
INTERNAL_AUTH_URL=http://auth_service:8080
INTERNAL_CHAT_URL=http://chat_service:8080
INTERNAL_FORUM_URL=http://forum_service:8000