@import "tailwindcss";

@plugin "daisyui" {
  themes: emerald --default;
  exclude: properties;
}

@plugin "daisyui/theme" {
  name: "emerald";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(35.519% 0.032 262.988);
  --color-primary: oklch(77% 0.152 181.912);
  --color-primary-content: oklch(33.387% 0.04 162.24);
  --color-secondary: oklch(69% 0.17 162.48);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(95% 0.052 163.051);
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(35.519% 0.032 262.988);
  --color-neutral-content: oklch(98.462% 0.001 247.838);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(14px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navbar-height: 4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility btn {
  @apply rounded-field;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, sans-serif;
}